:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --text-color: #434455;
    --color-primary: #FFFFFF;
    --text-color-secondary: #4D5AE5;
    --color-secondary: #404bbf;
    --accent-color: #2E2F42;
    --color-light: #F4F4FD;
    --icon-second: #8E8F99;
    --icon-color-button: #31D0AA;
   
    /* Other */
    --items: 4;
    --indent-col: 32px;
    --indent-row: 32px;
    --idx-icon: 10;
    --idx-header: 100;
    --idx-modal: 1000;
    
    --trns-fast: 300ms ease;
    --trns-slow: 800ms ease-out;
}


img {
    display: block;
}
body {
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Overlay text styles */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient rgba(46, 47, 66, 0.7),rgba(46,47,66,0.7);
    backdrop-filter: blur(8px);
    border-radius: 15px 15px 0px 0px;

    transition: transform var(--trns-slow);
}