:root {
   --primary-font: Roboto, sans-serif;
   --secondary-font: Raleway,sans-serif;
   --text-color: #434455;
   --color-primary: #FFFFFF;
    --text-color-secondary: #4D5AE5;
    --color-secondary: #404bbf;
    --accent-color: #2E2F42;
    --color-light: #F4F4FD;
}

body {
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--color-primary);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Header */

address {
   font-style: normal; 
}

.header {
    background-color: var(--color-primary);
}

.logo {
    color: var(--text-color-secondary);
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 0.54px;
    line-height: 1.17;
    text-transform: uppercase;
}

nav > ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a { 
    text-decoration: none;
}

.contacts > a {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;    
}

.contacts-address {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-address:hover, 
.contacts-address:focus {
    color: var(--color-secondary);
}
.header-logo {
    color: var(--accent-color);
}

.nav .menu-item-site:hover, 
.nav .menu-item-site:focus {
    color: var(--color-secondary);
}

/* Hero section*/

.hero {
    background: var(--accent-color);
}

.title-main {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.hero-button {
    font-family: var(--primary-font);
    background: var(--text-color-secondary);
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;   
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-secondary);
}
 
/* Feature section*/

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.subtitle-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--accent-color);
}

.direction-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Made section */

.subtitle-photo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-color);
}

/* Team section */

.photo-team {
    background-color: var(--color-light);
}

.photo-team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);;
}

.photo-team-face {
    background-color: var(--color-primary);
}

.photo-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* Portfolio section */
   
.menu-item {
    color: var(--accent-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.32px;
} 
.menu-item > a {
    color: var(--accent-color);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 24px;      
}

.menu-item-site {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
  
.menu-item-contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.photo-team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color-secondary);
    background-color: var(--color-light);
    cursor: pointer;
}

.menu-button:hover, 
.menu-button:focus {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}
 
.list-photo-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.list-photo-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
    
    /*Footer*/

.footer {
    background: var(--accent-color);      
}

.footer-text {
    color: var(--color-light);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer-ingredient {
    color: var(--color-light);
}
