/* Header */
.header {
    background-color: var(--color-primary);
    border-bottom: 1px solid #e7e9fc
}

.header-nav {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--text-color-secondary);
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight: 800;
    letter-spacing: 0.54px;
    line-height: 1.17;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;

    
}

.header-logo {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-right: 332px;
}

.header-item {
    color: var(--accent-color);
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: block;
    padding: 24px 0;
}

.header-address {
   
}

.header-social {
    display: flex;
    gap: 40px;
}
.wrapper{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.header-post {}

.header-post-wrapper {
    display: flex;
}
.header-post-wrapper {
    display: flex;
}
.header-social-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    display: block;
    padding: 32px 0;
}

.header-phone {}

header-nav > ul {
    list-style: none;
}
.header-item > a {
    color: var(--accent-color);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 24px;
}
.header-social > a {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;    
}

.header-social-link:hover, 
.header-social-link:focus {
    color: var(--color-secondary);
}

.header-nav .header-link:hover, 
.header-nav .header-link:focus {
    color: var(--color-secondary);
}

/* Hero section*/

.hero {
    background: var(--accent-color);
    padding: 188px 0;
}

.hero-title {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
}
.hero-button {
    font-family: var(--primary-font);
    background: var(--text-color-secondary);
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-secondary);
}
 
/* Feature section*/
.feature {
    padding: 120px 0;
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.feature-list {
    display: flex;
    gap: 24px;   
}

.feature-item {
    display: flex;
    width: calc((100% - 72px) / 4);      
}

.feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--accent-color);
    margin-bottom: 8px;
}

.feature-text {
      line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Made section */

.made {
    padding: 120px 0;
}
.made-subtitle {
      font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--accent-color);
    margin-bottom: 72px;
}
.made-list {
    display: flex;
    gap: 24px;
}
.made-item {
    width: calc((100% - 48px) / 3);
}



/* Team section */

.team {
    background-color: var(--color-light);
    padding: 120px 0;
}
.team-title {
     font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--color-primary);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-wrapper{
    padding: 32px 0;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 8px
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


/* Portfolio section */
 
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-title {}

.portfolio-button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
 }

.portfolio-item {}

.portfolio-button {
    font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--text-color-secondary);
        background-color: var(--color-light);
        cursor: pointer;
        padding: 12px 24px;
        border: 1px solid #e7e9fc;

 }
.portfolio-button:hover, 
.portfolio-button:focus {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 1px solid;
    border-radius: 4px;
    border: 1px solid transparent;
}
.portfolio-img-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
 }

.portfolio-img-item {
    width: calc((100% - 48px) / 3);
 }

.portfolio-img-link {
    
 }
.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        margin-bottom: 8px;
 }

.portfolio-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
 }

    /*Footer*/

.footer {
    background: var(--accent-color);  
    padding: 100px 0;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-link {
    color: var(--color-light);
}

.footer-text {
    color: var(--color-light);
    letter-spacing: 0.02em;
    line-height: 1.5;
}