:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --text-color: #434455;
  --color-primary: #ffffff;
  --text-color-secondary: #4d5ae5;
  --color-secondary: #404bbf;
  --accent-color: #2e2f42;
  --color-light: #f4f4fd;
  --icon-second: #8e8f99;
  --icon-color-button: #31d0aa;

  /* Other */
  --items: 4;
  --indent-col: 32px;
  --indent-row: 32px;
  --idx-icon: 10;
  --idx-header: 100;
  --idx-modal: 1000;

  --trns-fast: 300ms ease;
  --trns-slow: 800ms ease-out;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}

.card-set-item {
  width: calc(
    (100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items)
  );
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--color-primary);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Overlay text styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 15px 15px 0px 0px;

  transition: transform var(--trns-slow);
}

/* Phone screen */
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */
.header {
  background-color: var(--color-primary);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--text-color-secondary);
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  letter-spacing: 0.54px;
  line-height: 1.17;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 22px;
}
@media only screen and (max-width: 767px) {
  .logo {
    margin-right: 76px;
  }
}
.header-logo {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-secondary);
}
@media only screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}
.header-item {
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
  content: "";
  position: absolute;

  display: block;
  width: 48px;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}
.header-link.current::after,
.header-link:active::after {
  background-color: var(--color-secondary);
}
.header-address {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-address {
    display: block;
    font-style: normal;
  }
}

.header-address .header-social {
}
@media only screen and (min-width: 768px) {
  .header-social {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-social {
    flex-direction: row;
    gap: 40px;
  }
}
.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.header-post {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-post-wrapper {
  display: flex;
}
.header-post-wrapper {
  display: flex;
}
.header-social-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--text-color);
  display: block;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .header-social-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.header-phone {
}

header-nav > ul {
  list-style: none;
}
.header-item > a {
  color: var(--accent-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 24px;
}
.header-link.current {
  color: var(--color-secondary);
}
.header-social > a {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
}
.header-social-link {
}
.header-social-link:hover,
.header-social-link:focus {
  color: var(--color-secondary);
}

.header-nav .header-link:hover,
.header-nav .header-link:focus {
  color: var(--color-secondary);
}

/* Hero section*/

.hero {
  max-width: 428px;
  max-height: 436px;
  margin: 0 auto;

  padding: 112px 0;

  background-color: var(--accent-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-shrink: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero_mob.jpg);
}
@media only screen and (max-width: 427.98px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_mob@2x.jpg);
  }
}
/*-- Tablet--*/
@media only screen and (min-width: 428px) {
  .hero {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_tab.jpg);
  }
}
@media only screen and (min-width: 428px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_tab@2x.jpg);
  }
}
/* -- Desktop --*/
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 1440px;
    max-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_desk.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_desk@2x.jpg);
  }
}

.hero-title {
  color: var(--color-primary);
  font-family: var(--primary-font);

  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  display: block;
  width: 320px;

  text-align: center;

  margin: 0 auto 72px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
    padding-bottom: 0;
    width: 496px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  font-family: var(--primary-font);
  background: var(--text-color-secondary);
  color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-secondary);
}

/* Feature section*/
.feature {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .feature {
    padding: 120px 0;
  }
}

.feature-wrapper {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-light);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.feature-title .feature-icon {
  flex-shrink: 0;
}
.feature-list {
  --items: 1;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .feature-list {
    --items: 2;
    --indent-horizontal: 72px;
    --indent-vertical: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-list {
    --items: 4;
    --indent-vertical: 24px;
  }
}

.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: var(--accent-color);
  margin-bottom: 8px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .feature-subtitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}

/* Made section */

.made {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .made {
    display: block;
    padding: 0 0 120px;
  }
}
.made-subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 72px;
}
.made-list {
  display: flex;
  gap: 24px;
}
.made-item {
  width: calc((100% - 48px) / 3);
}

/* Team section */

.team {
  background-color: var(--color-light);
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
.team-img {
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}
.team-item {
  width: 264px;
  background-color: var(--color-primary);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team-item {
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }
}
.team-wrapper {
  padding: 32px 0;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-list-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link-icon {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-secondary);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: var(--color-secondary);
}
.social-icon {
  fill: var(--color-light);
  width: 16px;
  height: 16px;
}
.social-item-icon {
  width: 40px;
  height: 40px;
}

.social-list-icon:hover,
.social-list-icon:focus {
  color: var(--icon-color-button);
}
/* Customers section */
.customers {
  padding: 96px 0;
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .customers-container {
    max-width: 584px;
  }
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 72px;
}

.customers-list {
  --items: 2;
  --indent-horizontal: 72px;
  --indent-vertical: 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    --items: 3;
    --indent-vertical: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list {
    --items: 6;
  }
}
.customers-item {
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-second);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-second);
  fill: currentColor;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
.customers-link:focus {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.customers-icon {
  fill: currentColor;
}

/* Portfolio section */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-item {
}

.portfolio-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-secondary);
  background-color: var(--color-light);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: 1px solid;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(0%);
  transform: translateY(0%);
}
.product-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  column-gap: 24px;
}
.position-wrapper {
  position: relative;
  overflow: hidden;
}
.product-card {
  width: calc((100% - 48px) / 3);
}

.card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-link:hover .overlay-text,
.card-link:focus .overlay-text {
  transform: translateY(0%);
}
.gal-product {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 32px;
  transform: translateY(100%);
  color: var(--color-light);
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  background-color: var(--text-color-secondary);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-text {
  color: var(--text-color);
}
.gal-product .product-text,
.gal-product .section-title {
  text-align: left;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  background: var(--accent-color);
}

.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
  flex-wrap: wrap;
  padding-bottom: 96px;
  padding-top: 96px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    column-gap: 24px;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .footer > .container {
    align-items: baseline;
    padding: 101px 15px;

    flex-wrap: nowrap;
    column-gap: 0;
  }
}
.footer-left {
  margin-right: 0;
}
@media screen and (min-width: 1158px) {
  .footer-left {
  }
}
.footer-center {
}
@media screen and (min-width: 1158px) {
  .footer-center {
    margin: 0 80px 0 120px;
  }
}
footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  padding-bottom: 0;
  padding-top: 0;
}

.footer-link {
  color: var(--color-light);
  display: inline-block;
}

.footer-text {
  color: var(--color-light);
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 268px;
}

.media-text {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .media-text {
    text-align: left;
  }
}
.footer-list-icon {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 208px;
}

.footer-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-color: var(--text-color-secondary);
  border-radius: 50%;
  background-color: var(--text-color-secondary);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover {
  background-color: var(--icon-color-button);
}
.footer-icon-link:focus {
  background-color: var(--icon-color-button);
}
.footer-social-icon {
  fill: var(--color-light);
}

.footer-form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    gap: 24px;
  }
}

.footer-label {
  width: 100%;
}
@media screen and (max-width: 427.98px) {
  .footer-input,
  .footer-label,
  .footer-form,
  .footer-right {
    width: 100%;
  }
  footer .logo,
  .footer-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 767.98px) {
  .footer .logo,
  .footer-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
}

.footer-input {
  height: 40px;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-primary);
}
@media screen and (min-width: 428px) {
  .footer-input {
    width: 398px;
  }
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-primary);
  cursor: pointer;
  background-color: var(--text-color-secondary);
  border: none;
  border-radius: 4px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .footer-btn {
    margin-top: 0;
  }
}
.footer-subsc-icon {
  margin-left: 16px;
}
/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 392px;
  width: 100%;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-wight: 768px) {
  .modal {
  }
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-70%);
  transition-delay: 0s;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--accent-color);
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-secondary);

  border: none;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}
.modal-btn-icon {
  display: block;
  stroke: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Reviews form */
.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 16px;
}
.modal-form {
  margin-bottom: 24px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: var(--icon-second);
}

.modal-field {
  position: relative;
}

.modal-input {
  height: 40px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--text-color-secondary);
}

.modal-container-form {
  margin-bottom: 8px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--text-color-secondary);
}

.modal-coment {
}

.modal-coment-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-coment-field:focus-within {
  border-color: var(--text-color-secondary);
}
.textaria {
  margin-bottom: 16px;
}
.agreem {
  margin-bottom: 24px;
}
.modal-agreement {
  display: block;
  font-style: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-second);
  font-size: 12px;
}
.modal-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  background-color: var(--color-primary);
}
.modal-agreement-link {
  color: var(--text-color-secondary);
}

.modal-agreement-input {
  appearance: none;
}
.modal-agreement-input:checked + .modal-agreement .modal-checkbox-icon {
  fill: var(--color-primary);
}
.modal-agreement-input:checked + .modal-agreement > .modal-policy {
  background-color: var(--color-secondary);
  border: none;
  fill: var(--color-light);
}
/**
  |============================
  | Mobile menu styles
  |============================
*/

@media only screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

/**
  |============================
  | Mobile menu styles
  |============================
*/

/* header menu */

.toggle-menu {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;
  margin-right: auto;
  background: var(--color-primary);
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
  transition-delay: 150ms;
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  min-width: 24px;
  min-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border: 1px solid #e7e9fc;
  border-radius: 50%;
}
@media only screen and not (hover: hover) {
  .menu-toggle:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  }
}

.menu-toggle-icon {
  fill: var(--accent-color);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--accent-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;

  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link.current {
  color: var(--color-secondary);
}

.mobile-contacts {
}

.mobile-contacts-item {
  margin-bottom: 40px;
}

.mobile-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mobile-contacts-link.accent {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}
.mobil-socials {
  margin-top: 48px;
}
.mobile-socials-list {
  display: inline-flex;
  align-items: flex-start;
}
@media only screen and (max-width: 427.98px) {
  .mobile-socials-list {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 428px) {
  .mobile-socials-list {
    gap: 56px;
    justify-content: flex-start;
  }
}
.mobile-socials-item {
}

.mobile-socials-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: var(--text-color-secondary);
  border-radius: 50%;
}

.mobil-socials-icon {
  fill: var(--color-primary);
}
